/*
		Checkslate
*/
/* ===== Typography ===== */
@font-face {
  font-family: 'Lato';
  src: url("../fonts/lato-light-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/lato-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-light-webfont.woff2") format("woff2"), url("../fonts/lato-light-webfont.woff") format("woff"), url("../fonts/lato-light-webfont.ttf") format("truetype"), url("../fonts/lato-light-webfont.svg#svgFontName") format("svg");
  /* Legacy iOS */
  font-weight: 200; }

html {
  font: 100%/1.5 'Lato', sans-serif; }

#edit_items {
  font-size: 85%; }

#clean {
  font-size: 85%; }

body {
  background-color: #f8f8fa; }

#wrapper {
  margin: 10px auto;
  padding: 2.5%;
  width: 90%;
  max-width: 550px;
  background-color: white; }

header h1 {
  text-align: center; }

header #edit_items {
  margin-left: 0.25em;
  display: inline-block; }
  header #edit_items p {
    display: inline-block;
    margin: 0; }

#add_items {
  height: 30px;
  border: 1px solid #556;
  background-color: white;
  font-size: 0px; }
  #add_items > * {
    font-size: 14px;
    box-sizing: border-box;
    vertical-align: top;
    height: 100%;
    display: inline-block; }
  #add_items input {
    background-color: transparent;
    border: none;
    padding-left: 1.2em; }

#add_items input {
  width: 75%; }

#add_items label {
  width: 10%; }

#add_items .addbtn {
  width: 15%;
  float: right; }

@media screen and (min-width: 400px) {
  #add_items input {
    width: 80%; }
  #add_items .addbtn {
    width: 10%; } }

#action_toggle {
  display: block;
  text-align: right;
  margin-top: 0.5em; }

main {
  margin: 0px; }
  main .item {
    margin: 0.5em 0;
    padding-left: 1em; }
    main .item .btn {
      margin: 0 0.5em; }
    main .item input {
      padding-left: 0.5em;
      width: 80%; }

#clean {
  display: block;
  text-align: center;
  margin-top: 5em; }

.item input {
  border: none;
  background-color: #f8f8fa; }

/* ===== Skins ===== */
.btn {
  cursor: pointer;
  text-decoration: none;
  padding: 5px;
  text-align: center; }
  .btn:visited {
    color: black; }

.btn-green:hover, .btn-green:active, .btn-green:focus {
  color: white;
  background-color: #00B37A; }

.btn-blue:hover, .btn-blue:active, .btn-blue:focus {
  color: white;
  background-color: #007AB3; }

.btn-gray:hover, .btn-gray:active, .btn-gray:focus {
  color: white;
  background-color: #777778; }

.link-green:hover, .link-green:active, .link-green:focus {
  color: #00B37A;
  outline: #00B37A solid 1px; }

.link-blue:hover, .link-blue:active, .link-blue:focus {
  color: #007AB3;
  outline: #007AB3 solid 1px; }

.link-gray:hover, .link-gray:active, .link-gray:focus {
  color: #777778;
  outline: #f0f0f5 solid 1px; }

.link-danger:hover, .link-danger:active, .link-danger:focus {
  color: #FF5D52; }

.item {
  cursor: pointer; }

.rounded {
  border-radius: 5px; }

hr {
  border: 1px solid #f0f0f5; }

.completed {
  color: #777778; }

.label {
  display: inline-block;
  font-size: 0.8em;
  vertical-align: baseline;
  color: #777778; }

/*# sourceMappingURL=maps/app.css.map */
