header {
		h1 {
				text-align: center;
		}
		
		#edit_items {
			margin-left: 0.25em;
			display: inline-block;
				p {
						display: inline-block;
						margin: 0;
				}
		}
}

#add_items {
	height: 30px;
	border: 1px solid $txt_mid_gray;
	background-color: white;
	font-size: 0px;
	& > * {
		font-size: 14px;
		box-sizing: border-box;
		vertical-align: top;
		height: 100%;
		display: inline-block;
	}
	input {
		background-color: transparent;
		border: none;
		padding-left: 1.2em;
	}
}

#add_items {
	input {
		width: 75%;
	}
	label {
		width: 10%;
	}
	.addbtn {
		width: 15%;
		float: right;
	}
}
@media screen and (min-width: 400px) {
	#add_items {
		input {
			width: 80%;
		}
		.addbtn {
			width: 10%;
		}
	}
}

#action_toggle {
	display: block;
	text-align: right;
	margin-top: 0.5em;
}