/* ===== Skins ===== */

.btn {
		cursor: pointer;
		text-decoration: none;
		color: $txt_mid_gray;
		&:hover {
				color: $txt_light_gray;
		}
}

.item {  cursor: pointer; }

.rounded {   border-radius: 5px; }

hr { border: 1px solid $bg_light_gray; }

.completed {
		color: $txt_light_gray;
}

.label {
	display: inline-block;
	font-size: 0.8em;
	vertical-align: baseline;
	color: $txt_light_gray;
}