/* ===== Skins ===== */

.btn {
		cursor: pointer;
		text-decoration: none;
		color: $gunmetal;
		&:hover {
				color: $dolphin;
		}
}

.item {  cursor: pointer; }

.rounded {   border-radius: 5px; }

hr { border: 1px solid $silver; }

.completed {
		color: $dolphin;
}

.label {
	display: inline-block;
	font-size: 0.8em;
	vertical-align: baseline;
	color: $dolphin;
}