/* ===== Typography ===== */
@font-face {
		font-family: 'Lato';
		src: url('../fonts/lato-light-webfont.eot'); /* IE9 Compat Modes */
		src:
				url('../fonts/lato-light-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
				url('../fonts/lato-light-webfont.woff2')  format('woff2'), /* Super Modern Browsers */
				url('../fonts/lato-light-webfont.woff')  format('woff'), /* Pretty Modern Browsers */
				url('../fonts/lato-light-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
				url('../fonts/lato-light-webfont.svg#svgFontName')  format('svg'); /* Legacy iOS */
		font-weight: 200;
}

html {
		font: 100%/1.5 'Lato', sans-serif;
}

#edit_items { font-size: 85%; }

#clean { font-size: 85%; }