/*
		Checkslate
*/

@import 'colors';
@import 'typography';

body { background-color: $porcelain; }
#wrapper {
		margin: 10px auto;
		padding: 2.5%;
		width: 90%;
		max-width: 550px;
		background-color: white;
}

@import 'header';
@import 'body';
@import 'skins';