<!DOCTYPE html>
<html lang="en" ng-app="checkslate">
		<head>
				<meta charset="utf-8">
				<title>checkslate - Resuable checklists</title>
				<meta name="viewport" content="width=device-width, initial-scale=1">
				<link rel="stylesheet" href="css/lib/normalize.css">
				<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
				<link rel="stylesheet" href="css/app.min.css">
		</head>
		<body>
				<div id="wrapper" class="rounded" ng-controller="appCtrl">
						<header>
								<h1>checkslate</h1>
								<div id="add_items" class="rounded">
										<!-- Add item -->
										<i class="fa fa-plus fa-sm btn" ng-click="addItem(newItem)"></i>
										<input id="addItemInput" type="text" placeholder="Add Item" class="rounded" ng-model="newItem" ng-keypress="keyboardHandler($event, newItem)">
								</div>
								<!-- Edit Items Button -->
								<span ng-show="edit">Editing list |</span>
								<div class="btn" id="edit_items" ng-click="toggleEdit()">
										<i ng-hide="edit" class="fa fa-edit fa-sm"></i>
										<p ng-hide="edit">Edit Items</p>
										<i ng-show="edit" class="fa fa-check fa-sm"></i>
										<p ng-show="edit">Done</p>
								</div>
								
						</header>
						<main>

								<!-- incomplete items -->
								<section id="incomplete_list">
										<div class="item" ng-repeat="item in items | incomplete">
												<input type="text" ng-show="edit" ng-model="item.name" ng-value="item.name" class="rounded">
												<div ng-click="itemClicked(item)" ng-hide="edit">{{item.name}}</div>
												<div ng-show="edit" class="delete btn" ng-click="deleteItem(item)">
														<i class="fa fa-trash fa-md"></i>
												</div>
										</div>
								</section>

								<hr>

								<!-- completed items -->
								<section id="completed_list">
										<div class="item completed" ng-repeat="item in items | complete">
												<input type="text" ng-show="edit" ng-model="item.name" ng-value="item.name" class="rounded">
												<div ng-click="itemClicked(item)" ng-hide="edit">{{item.name}}</div>
												<div ng-show="edit" class="delete btn" ng-click="deleteItem(item)">
														<i class="fa fa-trash fa-md"></i>
												</div>
										</div>
								</section>
								<div id="clean" class="btn" ng-click="clean()">Clean Slate</div>
						</main>
				</div>
				<script src="js/lib/angular.min.js"></script>
				<script src="js/app.js"></script>
				<script src="js/controllers.js"></script>
				<script src="js/filters.js"></script>
		</body>
</html>